USE [master]
GO
/****** Object:  Database [dbwordnew]    Script Date: 4/27/2019 10:21:25 PM ******/
CREATE DATABASE [dbwordnew]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbwordnew', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dbwordnew.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbwordnew_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\dbwordnew_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbwordnew].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbwordnew]
GO
/****** Object:  Table [dbo].[tblengWord]    Script Date: 4/27/2019 10:21:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblengWord](
	[engID] [int] IDENTITY(1,1) NOT NULL,
	[engWord] [nvarchar](25) NOT NULL,
	[engSentences] [nvarchar](250) NULL,
 CONSTRAINT [PK_tblengWord] PRIMARY KEY CLUSTERED 
(
	[engID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLearning]    Script Date: 4/27/2019 10:21:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLearning](
	[learnID] [int] IDENTITY(1,1) NOT NULL,
	[trID] [int] NOT NULL,
	[engID] [int] NOT NULL,
	[yesterday] [bit] NOT NULL,
	[lastWeek] [bit] NOT NULL,
	[lastMonth] [bit] NOT NULL,
	[sixMonthsLater] [bit] NOT NULL,
	[learned] [bit] NOT NULL,
 CONSTRAINT [PK_tblLearning] PRIMARY KEY CLUSTERED 
(
	[learnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbltrWord]    Script Date: 4/27/2019 10:21:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbltrWord](
	[trID] [int] IDENTITY(1,1) NOT NULL,
	[trWord] [nvarchar](25) NOT NULL,
	[trSentences] [nvarchar](250) NULL,
 CONSTRAINT [PK_tbltrWord] PRIMARY KEY CLUSTERED 
(
	[trID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblLearning]  WITH CHECK ADD  CONSTRAINT [FK_tblLearning_tblengWord] FOREIGN KEY([engID])
REFERENCES [dbo].[tblengWord] ([engID])
GO
ALTER TABLE [dbo].[tblLearning] CHECK CONSTRAINT [FK_tblLearning_tblengWord]
GO
ALTER TABLE [dbo].[tblLearning]  WITH CHECK ADD  CONSTRAINT [FK_tblLearning_tbltrWord] FOREIGN KEY([trID])
REFERENCES [dbo].[tbltrWord] ([trID])
GO
ALTER TABLE [dbo].[tblLearning] CHECK CONSTRAINT [FK_tblLearning_tbltrWord]
GO
USE [master]
GO
